@mixin underline-hover {
  position: relative;
  display: inline-block;
  &>*{
    display: inline-block;
  }
  &>:first-child{
    margin-right: 10px;
  }
  &:hover{
    &::after{
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}
