@mixin underline-hover {
  position: relative;
  display: inline-block;
  &>*{
    display: inline-block;
  }
  &>:first-child{
    margin-right: 10px;
  }
  &:hover{
    &::after{
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}

@mixin to-top-hover {
  position: relative;
  overflow: hidden;

  a, span {
    position: absolute;
    transition: all .5s ease;
    white-space: nowrap;
    &:first-child {
      top: 0;
    }
    &:last-child {
      top: 130%;
    }
  }

  &:hover {
    a, span {
      &:first-child {
        top: -130%;
      }
      &:last-child {
        top: 0;
      }
    }
  }
}