@import '../../../css/mixins.scss';
@import "../../../css/common.scss";

.SelectContainer {
  position: relative;
  transition: all .25s ease;
  height: 43px;

  .Select {
    background-color: #2F80ED;
    color: #fff;
    border-radius: 100px;
    width: 203px;
    border-color: #2F80ED;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 13px;
    cursor: pointer;
    transition: all .25s ease;
    padding: 0 0 0 12px;
    white-space: nowrap;
    height: 100%;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 14px;
      right: 20px;
      background: url("../../../images/header/arrowIcon.svg") no-repeat center / contain;
      width: 12px;
      height: 13px;
      pointer-events: none;
    }
  }

  .Spans {
    position: absolute;
    top: 15px;
    left: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    pointer-events: none;

    span {
      display: block;
      width: 140px;
      height: 20px;
      color: #fff;
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
      transition: all .25s ease;
      position: absolute;
      top: 0;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      @include to-top-hover;
    }
  }
  &:hover {
    .Spans {
      span {
        top: -100%;
      }
    }
  }
}

@media only screen and (min-width: $desktopWide) {
    .SelectContainer {
      height: 51px;
      .Select {
        width: 240px;
        height: 100%;

        &:before {
          width: 14px;
          height: 15px;
          top: 17px;
          right: 27px;
        }
      }
      .Spans {
        top: 18px;
        left: 25px;

        span {
          font-size: 15px;
          line-height: 15px;
          width: 162px;
        }
      }
    }
}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
    .SelectContainer {
      height: 43px;

      .Select {
        width: 192px;
      }

      .Spans {
        top: 16px;
        span {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
    .SelectContainer {
      height: 43px;

      .Select {
        width: 188px;

        &:before {
          right: 18px;
          height: 11px;
        }
      }

      .Spans {
        span {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
}

@media only screen and (max-width: $mobile) {
    .SelectContainer {
      display: none;
    }
}



