@import '../../../css/mixins.scss';
@import "../../../css/common.scss";

.SelectContainer {
  position: relative;
  transition: all .25s ease;

  .Spans {
    position: absolute;
    top: 13px;
    left: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    pointer-events: none;

    span {
      display: block;
      width: 140px;
      height: 20px;
      color: #fff;
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
      transition: all .25s ease;
      position: absolute;
      top: 0;
      text-transform: uppercase;
      letter-spacing: 0.7px;

      @include to-top-hover;
    }


  }
  &:hover {
    .Spans {
      span {
        top: -100%;
      }
    }

  }


}

@media only screen and (min-width: $desktopWide) {

}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {

}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {

}

@media only screen and (max-width: $mobile) {

}



