.product {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--tg-theme-button-color);
  padding: 15px;
  width: 100%;
}

.img {
  width: 100%;
  background: lightgray;
  height: 100px;
  margin: 0 auto;
  background: var(--tg-theme-button-color);
}

.title {
  color: var(--tg-theme-text-color);
  margin-top: 10px;
}

.description {
  font-size: 0.8em;
  min-height: 42px;
  margin-top: 5px;
  color: var(--tg-theme-subtitle-text-color);
}

.price {
  span {
    font-size: 0.9em;
  }
}

.addBtn {
  width: 100%;
  color: var(--tg-theme-button-text-color);
  background-color: var(--tg-theme-button-color);
  padding: 0 10px;
  margin-top: 10px;
}