@import "../../../css/common.scss";

.Container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: $desktopWide) {
  .Container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 80px;
  }
}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
  .Container {
    max-width: 100%;
    padding: 0 44px;
  }
}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
  .Container {
    max-width: 100%;
    padding: 0 44px;
  }
}

@media only screen and (max-width: $mobile) {
  .Container {
    padding: 0 20px;
  }
}
