@import "../../../../../css/common";

.VideoBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;


  .Text {
    p {
      font-size: 14px;
      line-height: 22px;
      text-transform: uppercase;
      font-weight: 600;
    }

    span {
      color: #888888;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .Video {
    height: 186px;
    width: 186px;
    position: relative;
    background: url("../../../../../images/MainPage/videoImage.png") no-repeat center / cover;
    border-radius: 50%;
    padding: 38px;
    cursor: pointer;


    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 186px;
      height: 186px;
      border-radius: 100%;
      margin: 0 auto;
      background: rgba(47, 128, 237, 0.30);
      overflow: hidden;
    }


    .Effect {
      border: 1px solid #fff;
      border-radius: 100%;
      width: 100%;
      height: 100%;
      position: relative;
      transition: all .75s ease;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url("../../../../../images/icons/videoIcon.svg") no-repeat center / cover;
        width: 48px;
        height: 22px;
      }
    }

    &:hover {
      .Effect {
        transform: scale(1.2);
      }
    }

  }
  .mobileVideo {
    height: 100%;
    width: 100%;
    display: none;
  }
}

@media only screen and (min-width: $desktopWide) {
    .VideoBlock {
      .Text {
        span{
          font-size: 18px;
          line-height: 29px;
        }

        p{
         font-size: 18px;
          line-height: 29px;
        }
      }

      .Video {
        width: 241px;
        height: 241px;
        padding: 50px;

        &:before {
          width: 241px;
          height: 241px;
        }

        .Effect {
          &:before {
            width: 62px;
            height: 28px;
          }
        }
      }
    }
}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
  .VideoBlock {
    .Text {
      span{
        font-size: 10px;
        line-height: 16px;
      }

      p{
        font-size: 10px;
        line-height: 16px;
      }
    }

    .Video {
      width: 133px;
      height: 133px;
      padding: 27px;

      &:before {
        width: 133px;
        height: 133px;
      }

      .Effect {
        &:before {
          width: 34px;
          height: 16px;
        }
      }
    }
  }
}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
  .VideoBlock {
    .Text {
      span{
        font-size: 13px;
        line-height: 21px;
      }

      p{
        font-size: 10px;
        line-height: 16px;
      }
    }

    .Video {
      width: 133px;
      height: 133px;
      padding: 27px;

      &:before {
        width: 133px;
        height: 133px;
      }

      .Effect {
        &:before {
          width: 34px;
          height: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .VideoBlock {
    .Text {
      span{
        font-size: 13px;
        line-height: 21px;
      }

      p{
        font-size: 10px;
        line-height: 16px;
      }
    }

    .Video {
      width: 131px;
      height: 131px;
      padding: 27px;

      &:before {
        width: 131px;
        height: 131px;
      }

      .Effect {
        &:before {
          width: 34px;
          height: 16px;
        }
      }
    }

  }
}


