@import "../../../css/common.scss";
@import "../../../css/mixins.scss";

.Form {
  max-width: 454px;
  width: 454px;

  .Title {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 50px;
    text-align: center;
  }

  .Input {
    margin-bottom: 41px;
  }

  .Agreement {
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
  }

  .Text {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    opacity: 0.5;

    a {
      text-decoration: none;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: #808080;
        opacity: 1;
        transition: all .25s ease;
      }
    }

    @media (hover: hover) {
      &:hover {
        a {
          &:before {
            opacity: 0;
          }
        }
      }
    }
  }

  .Button {
    margin: 0 auto;
  }
}

.Thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;

  .Title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 20px;
    text-align: center;
  }

  .Message {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
}

@media only screen and (min-width: $desktopWide) {
    .Form {
      width: 587px;
      max-width: 587px;

      .Title {
        font-size: 52px;
        line-height: 62px;
        margin-bottom: 80px;
      }

      .Input {
        margin-bottom: 49px;
      }

      .Agreement {
          .Text {
            font-size: 14px;
            line-height: 20px;
          }
      }
    }
}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
    .Form {
      width: 370px;
      max-width: 370px;

      .Title {
        font-size: 28px;
        line-height: 39px;
      }

      .Input {
        margin-bottom: 40px;
      }

      .Agreement {
        .Text {
          font-size: 11px;
          line-height: 17px;
        }
      }
    }
}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
    .Form {
      width: 438px;
      max-width: 438px;

      .Title {
        font-size: 28px;
        line-height: 39px;
      }

      .Input {
        margin-bottom: 45px;
      }

      .Agreement {
        .Text {
          font-size: 11px;
          line-height: 17px;
        }
      }
    }
}


@media only screen and (max-width: $mobile) {
  .Form {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;

    .Title {
      font-size: 20px;
      line-height: 28px;
      text-align: left;
      color: var(--tg-theme-text-color);
      margin-bottom: 30px;
    }

    .Agreement {
      margin-top: 40px;
      margin-bottom: 20px;

      .Text {
        font-size: 12px;
        color: var(--tg-theme-text-color);
        line-height: 19px;

        a {
          text-decoration: underline;
          &:before {
            display: none;
          }
        }
      }
    }

    .Text {
      font-size: 10px;
    }

    .Button {
      color: var(--tg-theme-button-text-color);
      background-color: var(--tg-theme-button-color);
    }
  }
}
