@import "../../../css/common.scss";

.Main {
  padding-bottom: 40px;

}

@media only screen and (min-width: $desktopWide) {
  .Main {
    padding-bottom: 80px;
    padding-bottom: 800px;
  }
}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
  .Main {
    padding-bottom: 30px;
  }
}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
  .Main {
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: $mobile) {
  .Main {
    padding-bottom: 20px;
  }
}


