.Main {
  padding-bottom: 40px;
  padding-bottom: 1500px;

  .Banner {
    img {
      width: 100%;
      height: auto;
    }
  }

  .Top {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .LeftText {
      span {
        color: #2F80ED;
        font-size: 26px;
        line-height: 36px;
        text-transform: uppercase;
        font-weight: 400;
      }
    }

    .RightText {
      font-size: 120px;
      line-height: 92px;
    }
  }

  .Bottom {
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1247px;

    .Left {
      .About {
        text-transform: uppercase;
        font-size: 13px;
        line-height: 18px;
        text-align: right;
        color: #2F80ED;
        margin-bottom: 27px;
      }
      .BannerBottom {
        position: relative;
        img {
          width: 567px;
          height: 720px;
        }

        .ImageDecor {
          position: absolute;
          top: 188px;
          right: -100px;
          width: 200px;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #2F80ED;
          border-radius: 50%;
        }
      }
    }

    .Right {
      max-width: 454px;

      .DecorRow {
        width: 49px;
        height: 9px;
        background-color: #2F80ED;
        border-radius: 2px;
        margin-bottom: 50px;
      }
      .TextHead {
        font-size: 26px;
        line-height: 36px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 100px;

        span {
          color: #2F80ED;
        }
      }

      .TextBody {
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 96px;

        span {
          color: #2F80ED;
        }
      }

      .VideoBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .Text {
          p {
            font-size: 14px;
            line-height: 22px;
            text-transform: uppercase;
            font-weight: 600;
          }

          span {
            color: #888888;
            font-size: 14px;
            line-height: 22px;
          }
        }

        .Video {
          height: 186px;
          width: 186px;
          position: relative;
          background: url("../../../images/MainPage/videoImage.png") no-repeat center / cover;
          border-radius: 50%;
          padding: 38px;
          cursor: pointer;


          &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 186px;
            height: 186px;
            border-radius: 100%;
            margin: 0 auto;
            background: rgba(47, 128, 237, 0.30);
            overflow: hidden;
          }


          .Effect {
            border: 1px solid #fff;
            border-radius: 100%;
            width: 100%;
            height: 100%;
            position: relative;
            transition: all .75s ease;

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background: url("../../icons/videoIcon.svg") no-repeat center / cover;
              width: 48px;
              height: 22px;
            }


          }

          &:hover {
            .Effect {
              transform: scale(1.2);
            }
          }

        }
      }
    }
  }
}