@import "../../../css/common.scss";

.VideoContainer {
  transition: all .25s ease;
}

.Video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .25s ease;
}

.closeIcon {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 1;
  cursor: pointer;
  transition: all .25s ease;

  &:hover {
    transform: scale(1.2);
  }

  svg {
    width: 26px;
    height: 26px;
  }
}

@media only screen and (min-width: $desktopWide) {

}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {

}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {

}

@media only screen and (max-width: $mobile) {
  .VideoContainer {
    z-index: 101;
    //position: relative;
  }

  .closeIcon {
    //display: none;
  }
}
