@import '../../../css/common.scss';

.Label {
  display: flex;
}

.Checkbox {
  width: 17px;
  height: 17px;
  border-radius: 3px;
  border: 1px solid #3E3E3E;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:before {
    content: '';
    width: 11px;
    height: 9px;
    background-image: url('../../icons/checkbox.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .25s ease;
    opacity: 0;
  }

  &.Active {
    &:before {
      opacity: 1;
    }
  }
}
